@model Drs.Repository.Entities.Metadata.ViewUserInfoModel
@{
    Layout = null;
}

<script>

    $(document).ready(function () {
        window.showModalFormDlg("#dlgUpModalId", "#FormCatId");

        $('#BirthDateTxIn .input-group.date').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: true,
            autoclose: true
        });
        
        $("#chosen-select").chosen({});

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

</script>

<div class="modal inmodal" id="dlgUpModalId" tabindex="-1" ng-controller="upsertController" role="dialog" aria-hidden="true" ng-cloak>
    <div class="modal-dialog" style="width:920px" ng-controller="userController">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="fa fa-user modal-icon"></i>
                <h4 class="modal-title">Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ibox">
                            <div class="ibox-title navy-bg">
                                <h5>Información de la cuenta</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form id="FormCatId" name="FormCatId" ng-submit="submit('#FormCatId')" class="form-horizontal" role="form">
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="Id" name="Id" ng-model="m.Id" ng-init="m.Id = '@Model.Id';" ng-update-hidden />
                            <input type="hidden" id="RoleId" name="RoleId" ng-model="m.RoleId" ng-init="m.RoleId = '@Model.RoleId';" ng-update-hidden />
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-3 control-label font-noraml">Usuario:</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="UserName" ng-model="m.UserName" ng-init="m.UserName = '@Model.UserName'"
                                               placeholder="Ingrese el usuario"
                                               required="required" ng-maxlength="200" class="form-control">
                                        <span class="error" ng-show="FormCatId.UserName.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.UserName.$error.maxlength">*Longitud máxima de 200 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-3 control-label font-noraml">Perfil:</label>
                                    <div class="col-xs-9">
                                        <select class="col-xs-12"  data-placeholder="Elige un perfil..." id="chosen-select"
                                                ng-init="lstRoles = @ViewBag.LstRoles;  initRoles();" ng-change="m.RoleId = m.role.StKey;"
                                                ng-options="c.Name for c in lstRoles" ng-model="m.role"></select>
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.IsNew)
                            {
                                <div class="space-15"></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label font-noraml">Contraseña:</label>
                                        <div class="col-xs-9">
                                            <input type="password" name="Password" ng-model="m.Password" ng-init="m.Password = '@Model.Password'"
                                                   placeholder="Ingrese la contraseña"
                                                   required="required" ng-minlength="6" ng-maxlength="200" class="form-control">
                                            <span class="error" ng-show="FormCatId.Password.$error.required">*Campo requerido</span>
                                            <span class="error" ng-show="FormCatId.Password.$error.minlength">*Longitud mínima es de 6 caracteres</span>
                                            <span class="error" ng-show="FormCatId.Password.$error.maxlength">*Longitud máxima de 200 caracteres</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="col-xs-3 control-label font-noraml">Confirmación:</label>
                                        <div class="col-xs-9">
                                            <input type="password" name="Confirm" ng-model="m.Confirm" ng-init="m.Confirm = '@Model.Confirm'"
                                                   placeholder="Ingrese la confirmación de la contraseña"
                                                   required="required" ng-minlength="6" ng-maxlength="200" class="form-control">
                                            <span class="error" ng-show="FormCatId.Confirm.$error.required">*Campo requerido</span>
                                            <span class="error" ng-show="FormCatId.Confirm.$error.minlength">*Longitud mínima es de 6 caracteres</span>
                                            <span class="error" ng-show="FormCatId.Confirm.$error.maxlength">*Longitud máxima de 200 caracteres</span>
                                            <span class="error" ng-show="m.Confirm !== m.Password">*Los campos no coinciden</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" id="Password" name="Password" ng-model="m.Password" ng-init="m.Password = 'fakeP4$$w';" ng-update-hidden />
                                <input type="hidden" id="Confirm" name="Confirm" ng-model="m.Confirm" ng-init="m.Confirm = 'fakeP4$$w';" ng-update-hidden />
                                <div class="space-15"></div>
                                <div class="row">
                                    <div class="checkbox i-checks col-xs-12 element-center">
                                        <label>
                                            <input name="IsObsoleteTxIn" type="checkbox" ng-model="m.IsObsoleteTxIn" ng-init="m.IsObsoleteTxIn = @Model.IsObsoleteTx"> ¿Desactivar el usuario?
                                        </label>
                                    </div>
                                </div>
                            }

                            <div class="space-15"></div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ibox">
                                        <div class="ibox-title navy-bg">
                                            <h5>Información del usuario</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-3 control-label font-noraml">Nombre:</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="FirstName" ng-model="m.FirstName" ng-init="m.FirstName = '@Model.FirstName'"
                                               placeholder="Ingrese el nombre del usuario"
                                               required="required" ng-minlength="2" ng-maxlength="50" class="form-control">
                                        <span class="error" ng-show="FormCatId.FirstName.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.FirstName.$error.minlength">*Longitud mínima es de 2 caracteres</span>
                                        <span class="error" ng-show="FormCatId.FirstName.$error.maxlength">*Longitud máxima de 50 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-3 control-label font-noraml">Apellido(s):</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="LastName" ng-model="m.LastName" ng-init="m.LastName = '@Model.LastName'"
                                               placeholder="Ingrese el o los apellidos"
                                               required="required" ng-minlength="2" ng-maxlength="50" class="form-control">
                                        <span class="error" ng-show="FormCatId.LastName.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.LastName.$error.minlength">*Longitud mínima es de 2 caracteres</span>
                                        <span class="error" ng-show="FormCatId.LastName.$error.maxlength">*Longitud máxima de 50 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-15"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-3 control-label font-noraml">Correo electrónico:</label>
                                    <div class="col-xs-9">
                                        <input type="email" name="Email" ng-model="m.Email" class="form-control" ng-init="m.Email = '@Model.Email'"
                                               placeholder="Ingresa el correo electrónico"
                                               required="required" ng-maxlength="250">
                                        <span class="error" ng-show="FormCatId.Email.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.Email.$error.maxlength">*Longitud máxima de 250 caracteres</span>
                                        <span class="error" ng-show="FormCatId.Email.$error.email">*Correo electrónico no válido</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-3 control-label font-noraml">Teléfono:</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="PhoneNumber" ng-model="m.PhoneNumber" class="form-control" ng-init="m.PhoneNumber = '@Model.PhoneNumber'"
                                               placeholder="Ingresa la dirección completa"
                                               ng-maxlength="20">
                                        <span class="error" ng-show="FormCatId.Phone.$error.maxlength">*Longitud máxima de 20 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-15"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div id="BirthDateTxIn">
                                        <label class="control-label font-noraml col-xs-5">Fecha de nacimiento:</label>
                                        <div class="input-group date  col-xs-5">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="BirthDateTxIn" class="form-control" ng-model="m.BirthDateTxIn" ng-init="m.BirthDateTxIn = '@Model.BirthDateTx'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-show="MsgError" class="alert alert-danger element-center">
                                    {{MsgError}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-white" ng-click="cancel()">
                    Cancelar
                </button>
                <button class="btn btn-primary " ng-disabled="WaitFor==true"
                      ng-click="submit('#FormCatId', '@Url.Action("DoUpsert", "User", new{area = "Management"})')">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
