@using Drs.Model.Settings
@{
    Layout = null;
}

<script>

    $(document).ready(function () {
        window.showModalFormDlg("#dlgUpModalId", "#FormCatId");

        $("#chosen-select, #chosen-selectA").chosen({});

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

</script>
<script src="~/Scripts/fileupload.js"></script>


<div class="modal inmodal" id="dlgUpModalId" tabindex="-1" ng-controller="upsertController" role="dialog" aria-hidden="true" ng-cloak>
    <div class="modal-dialog" style="width:980px" ng-controller="franchiseController">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="fa fa-puzzle-piece modal-icon"></i>
                <h4 class="modal-title">Franquicia</h4>
            </div>
            <div class="modal-body">
                <form id="FormCatId" name="FormCatId" class="form-horizontal" role="form"
                      ng-init="m = @(ViewBag.Model ?? "{}"); init();">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="FranchiseId" name="FranchiseId" ng-model="m.FranchiseId" ng-update-hidden />

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ibox">
                                <div class="ibox-title navy-bg">
                                    <h5>Información de la franquicia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Franquicia:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="Name" ng-model="m.Name"
                                               placeholder="Ingrese el nombre de la franquicia"
                                               required="required" ng-maxlength="500" class="form-control">
                                        <span class="error" ng-show="FormCatId.Name.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.Name.$error.maxlength">*Longitud máxima de 500 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Nombre corto:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="ShortName" ng-model="m.ShortName"
                                               placeholder="Ingrese el nombre corto de la franquicia"
                                               required="required" ng-maxlength="50" class="form-control">
                                        <span class="error" ng-show="FormCatId.ShortName.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.ShortName.$error.maxlength">*Longitud máxima de 50 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-15"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Código:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="Code" ng-model="m.Code"
                                               placeholder="Ingrese el código de la franquicia"
                                               required="required" ng-maxlength="10" class="form-control">
                                        <span class="error" ng-show="FormCatId.Code.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.Code.$error.maxlength">*Longitud máxima de 10 caracteres</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ibox">
                                <div class="ibox-title navy-bg">
                                    <h5>Configuración de la franquicia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Posición:</label>
                                    <div class="col-xs-8">
                                        <input type="number" name="Position" ng-model="m.Position"
                                               placeholder="Ingrese la posición para mostrar"
                                               required="required" class="form-control">
                                        <span class="error" ng-show="FormCatId.Position.$error.required">*Campo requerido</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Color:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="Color" ng-model="m.Color"
                                               placeholder="Ingrese el color para mostrar"
                                               required="required" ng-maxlength="7" class="form-control">
                                        <span class="error" ng-show="FormCatId.Color.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.Color.$error.maxlength">*Longitud máxima de 7 caracteres, formato '#FFFFFF'</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-15"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Productos:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="Products" ng-model="m.Products"
                                               placeholder="Ingrese el tipo de productos de la franquicia"
                                               required="required" ng-maxlength="200" class="form-control">
                                        <span class="error" ng-show="FormCatId.Products.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.Products.$error.maxlength">*Longitud máxima de 200 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">URL servicios Web:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="WsAddress" ng-model="m.WsAddress"
                                               placeholder="Ingrese la URL de los servicios Web"
                                               required="required" ng-minlength="10" ng-maxlength="600" class="form-control">
                                        <span class="error" ng-show="FormCatId.WsAddress.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.WsAddress.$error.minlength">*Longitud mínima es de 10 caracteres</span>
                                        <span class="error" ng-show="FormCatId.WsAddress.$error.maxlength">*Longitud máxima de 600 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-15"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Carpeta para DATA:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="DataFolder" ng-model="m.DataFolder"
                                               placeholder="Ingrese el nombre de la carpeta DATA"
                                               required="required" ng-maxlength="500" class="form-control">
                                        <span class="error" ng-show="FormCatId.DataFolder.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.DataFolder.$error.maxlength">*Longitud máxima de 500 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label class="col-xs-4 control-label font-noraml">Carpeta para NEWDATA:</label>
                                    <div class="col-xs-8">
                                        <input type="text" name="NewDataFolder" ng-model="m.NewDataFolder"
                                               placeholder="Ingrese el nombre corto de la franquicia"
                                               required="required" ng-maxlength="500" class="form-control">
                                        <span class="error" ng-show="FormCatId.NewDataFolder.$error.required">*Campo requerido</span>
                                        <span class="error" ng-show="FormCatId.NewDataFolder.$error.maxlength">*Longitud máxima de 500 caracteres</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-15">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ibox">
                                <div class="ibox-title navy-bg">
                                    <h5>Logotipo de la franquicia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="imageType" value="@SettingsData.Constants.FranchiseConst.SYNC_FILE_TYPE_LOGO" />
                    @Html.Partial("~/Views/Shared/_UploadFile.cshtml")
                    <div class="space-15"></div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12">
                            <br />
                            <div ng-show="MsgError" class="alert alert-danger element-center">
                                {{MsgError}}
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-white" ng-click="cancel()">
                    Cancelar
                </button>
                <button class="btn btn-primary " ng-disabled="WaitFor==true"
                        ng-click="submit('#FormCatId', '@Url.Action("DoUpsert", "Setting", new{area = "Franchise"})')">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
