@using CentralManagement.Controllers
@using CentralManagement.Helper
@using Drs.Model.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Licensing Call Center</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    @RenderSection("css", false)
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/js/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/main/licenseDr.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/js/inspinia.js"></script>
    <script src="~/Scripts/js/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/d3.min.js" ></script>

</head>
<body ng-app="licenseDr" class="pace-done skin-1">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" width="50" height="50" class="img-circle" src="~/Content/img/Logo.png" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@User.Identity.Name</strong>
                                    </span> <span class="text-muted block"> @HomeController.GetRolesByUser(@User) <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li class="divider"></li>
                                <li><a href="@Url.Action("LogOff", "Account", new { area = "" })">Salir</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            CM
                        </div>
                    </li>
                    @if (new List<string> { RoleConstants.MANAGER, RoleConstants.INSTALLER }.Any(e => e == RoleHelper.RoleForUser(User.Identity.Name)))
                    {
                        <li class="@(ViewBag.Menu == 1001 ? "active" : "")">
                            <a href="@Url.Action("Index", "User",new {area = "Management"})"><i class="fa fa-users"></i> <span class="nav-label">Usuarios</span> </a>
                        </li>
                        <li class="@(ViewBag.Menu == 2001 ? "active" : "")">
                            <a href="@Url.Action("Index", "License", new { area = "Management" })"><i class="fa fa-lock"></i> <span class="nav-label">Licenciamiento</span> </a>
                        </li>
                        <li class="@((int)((ViewBag.Menu??0) / 1000) == 3 ? "active" : "")">
                            <a href="#"><i class="fa fa-puzzle-piece"></i> <span class="nav-label">Franquicias</span> </a>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 3002 ? "active" : "")">
                                    <a href="@Url.Action("Index", "Setting",new {area = "Franchise"})"><i class="fa fa-cogs"></i>Configuración</a>
                                </li>
                            </ul>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 3003 ? "active" : "")">
                                    <a href="@Url.Action("Index", "Sync", new { area = "Franchise" })"><i class="fa fa-laptop"></i>Sincronización de archivos</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@((int)((ViewBag.Menu??0) / 1000) == 4 ? "active" : "")">
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Tiendas</span> </a>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 4002 ? "active" : "")">
                                    <a href="@Url.Action("Index", "Setting",new {area = "Store"})"><i class="fa fa-cogs"></i>Configuración</a>
                                </li>
                            </ul>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 4003 ? "active" : "")">
                                    <a href="@Url.Action("Index", "OffLine", new { area = "Store" })"><i class="fa fa-power-off"></i>Fuera de línea</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@((int)((ViewBag.Menu??0) / 1000) == 5 ? "active" : "")">
                            <a href="#"><i class="fa fa-terminal"></i> <span class="nav-label">Terminales</span> </a>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 5002 ? "active" : "")">
                                    <a href="@Url.Action("Index", "Setting", new { area = "Terminal" })"><i class="fa fa-cogs"></i>Configuración</a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (RoleHelper.RoleForUser(User.Identity.Name) == RoleConstants.STORE_MANAGER)
                    {
                        <li class="@((int)((ViewBag.Menu??0) / 1000) == 4 ? "active" : "")">
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Tiendas</span> </a>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 4003 ? "active" : "")">
                                    <a href="@Url.Action("Index", "OffLine", new { area = "Store" })"><i class="fa fa-power-off"></i>Fuera de línea</a>
                                </li>
                            </ul>
                        </li>
                    }
                    
                    
                    @if (RoleHelper.RoleForUser(User.Identity.Name) == RoleConstants.MANAGER)
                    {
                        <li class="@((int)((ViewBag.Menu??0) / 1000) == 6 ? "active" : "")">
                            <a href="#"><i class="fa fa-bar-chart"></i> <span class="nav-label">Reportes</span> </a>
                            <ul class="nav nav-second-level">
                                <li class="@(ViewBag.Menu == 5002 ? "active" : "")">
                                    <a href="@Url.Action("Index", "Sale", new { area = "Report" })"><i class="fa fa-line-chart"></i>Ventas Diarias</a>
                                </li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Administración central del sistema <strong>Advanced Delivery Management</strong> </span>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account", new { area = "" })">
                                <i class="fa fa-sign-out"></i> Salir
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            @RenderBody()
            @Html.Partial("_SharedServices")
            <hr />
            <div id="dlgUpsert"></div>
            <div class="footer fixed">
                <div class="pull-right">
                    Management Call Center
                </div>
                <div>
                    <strong>Copyright</strong> Star Hospitality Solutions &copy; 2015
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", false)

</body>
</html>
